.nav {
    height: 50px;
    width: auto;
    background-color:grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-title {
    margin-left: 25px;
    color: white;
}
.nav a {
    color: white;
    text-decoration: none; /*stole this from the solution page*/
}
.nav-links {
    margin-right: 5px;
    list-style-type: none; /*stole this from the solution page */
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btn {
    background-color: lightblue;
    box-shadow: 5px 5px black;
    color: black;
}
